body {
    margin:0;
    height: 100%;
    background-color: rgb(22, 22, 22);

    background-image: url('glass_final_highres.png');
    background-size: auto;
    background-repeat: repeat;
    background-position: 0,0;
}

h1{
    margin:0;
    color: rgba(255, 255, 255, 0.856);
    text-align: center;
    font-size: 6vw;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    animation: h1Load 0.6s ease-in-out;

}

.subh1{
    color: rgba(255, 255, 255, 0.363);
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.5vw;

    animation: subh1Load 0.6s ease-in-out;
}

.header{
    color: white;
    background-color: rgb(22, 22, 22);
    border-bottom: solid;
    border-color: rgba(95, 95, 95, 0.438);
    border-width: 1px;
    height: 50px;
    width: 100%;
    position: fixed;
    z-index: 10;

    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(22, 22, 22, 0.514);
}

.content{
    background-color: rgb(15, 15, 15);
    padding-top: 70px;
    height: 10000px;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    border: solid;
    border-color: rgba(95, 95, 95, 0.438);
    border-width: 1px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(22, 22, 22, 0.514);


    z-index: 2;
}

.profilePic{
    max-width: 100%;
    border-radius: 50%;
    border:solid;
    border-width: 2px;
    border-color: rgb(95, 95, 95);

    animation: profilePicLoad 0.8s ease-in-out;
}

.flex1{
    display: flex;
    align-items: center;
    flex-direction: row;
}

.f1section1{
    display: flex; 
    justify-content: center;
    max-width: 120px;
    min-width: 70px;
    width:50vw;
    padding:2%;
    padding-left: 4%;
}

.f1section2{
    padding:2%;
    padding-right: 4%;
}

.text{
    color:rgb(187, 187, 187);
    font-size: 14pt;
}

@keyframes h1Load{
    from{margin-left: 6%; opacity: 0;}
}

@keyframes subh1Load{
    from{color: rgb(255, 255, 255);}
}

@keyframes profilePicLoad{
    from{opacity: 0;}
}