body {
    margin:0;
    height: 100%;
    background-color: rgb(22, 22, 22);
}

.content{
    background-color: rgb(15, 15, 15);
    height: 1000px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    border: solid;
    border-color: rgba(95, 95, 95, 0.438);
    border-width: 1px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(22, 22, 22, 0.514);

    z-index: 2;
}

.profilePic{
    max-width: 100%;
    border-radius: 50%;
    border:solid;
    border-width: 2px;
    border-color: rgba(95, 95, 95, 0.438);
}

.flex1{
    display: flex;
    align-items: center;
    flex-direction: row;
}

.f1section1{
    display: flex; 
    justify-content: center;
    max-width: 120px;
    min-width: 70px;
    width:50vw;
    padding:2%;
    padding-left: 4%;
}

.f1section2{
    padding:2%;
    padding-right: 4%;
}

.text{
    color:rgb(187, 187, 187);
    font-size: 14pt;
}

.divider{
    height: 1px;
    width: 40%;
    background-color: rgba(255, 255, 255, 0.363);
    border-width: 0;
}