.heading{
    padding-top: 14vw;
    padding-bottom: 14vw;
}

h1{
    margin:0;
    color: rgba(255, 255, 255, 0.856);
    text-align: center;
    font-size: 6vw;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    animation: h1Load 0.6s ease-out;
}

.subh1{
    color: rgba(255, 255, 255, 0.363);
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 2vw;

    animation: subh1Load 0.6s ease-in-out;
}

@keyframes h1Load{
    from{margin-left: 2%; opacity: 0;}
}

@keyframes subh1Load{
    from{color: rgb(255, 255, 255);}
}